%% == Erlang Compiler ==

{minimum_otp_vsn, "19.3"}.

{erl_opts, [
    warnings_as_errors,
    debug_info,
    warn_export_vars,
    warn_unused_import,
    {parse_transform, stacktrace_transform}
]}.

%% == Dependencies and plugins ==

{deps, [
    {stacktrace_compat, "1.2.1"}
]}.

{project_plugins, [
    {rebar3_lint, "0.2.0"}
]}.

%% == Dialyzer ==

{dialyzer, [
    {warnings, [
        unknown
    ]}
]}.

%% == xref ==

{xref_checks, [
    undefined_function_calls,
    locals_not_used,
    deprecated_function_calls
]}.

%% == Profiles ==

{profiles, [
    {'test', [
        {extra_src_dirs, ["test"]},
        {erl_opts, [
            warnings_as_errors,
            debug_info,
            nowarn_missing_spec,
            nowarn_export_all,
            warn_export_vars,
            warn_unused_import
        ]},
        {deps, [
            {proper, "1.3.0"},
            {cth_readable, "1.4.9"}
        ]},
        {cover_enabled, true},
        {cover_opts, [
            verbose
        ]},
        {xref_extra_paths, ["test"]}
    ]}
]}.

%% == edoc ==

{edoc_opts, [
    {preprocess, true},
    {includes, ["src"]}
]}.
